.app {
  width: 800px;
  padding: 20px;
}

.app-wrapper {
  display: flex;
}

.parent {
  flex: 1;
  height: 300px;
  background-color: skyblue;
}

.parent:first-child {
  margin-right: 30px;
}

.parent-wrapper {
  display: flex;
}

.child {
  flex: 1;
  height: 200px;
  background-color: yellowgreen;
}

.child:first-child {
  margin-right: 20px;
}
